.yearselect-list{
    height: 80px;
    cursor: pointer;
    text-align: center;
}

.yearselect-list p{
    /* color: white; */
    font-size: 50px;
}

.yearselect-list ul{
    list-style: none;
    margin-left: auto;
    padding-right: 30px;
    display: list-item;
}

.yearselect-list ul li{
  margin: 15px;
}

.yearselect-list ul li input{
  /* border-radius: 4px; */
  border-bottom: 1px solid #000;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-weight: 600;
  font-size: 40px;
  padding: 4px 6px;
  color: rgb(0, 0, 0);
  background-color: rgba(240, 248, 255, 0);
  /* border-style: none; */
}

/*SIDE SELECT ORDER */
.sideselect-list{
  height: 80px;
  cursor: pointer;
  text-align: center;
}

.sideselect-list p{
  /* color: white; */
  font-size: 50px;
}

.sideselect-list ul{
  list-style: none;
  margin-left: auto;
  padding-right: 30px;
  display: list-item;
}

.sideselect-list ul li{
margin: 15px;
}

.sideselect-list ul li input{
/* border-radius: 4px; */
border-bottom: 1px solid #000;
border-top: 0;
border-left: 0;
border-right: 0;
font-weight: 600;
font-size: 40px;
padding: 4px 6px;
color: rgb(0, 0, 0);
background-color: rgba(240, 248, 255, 0);
/* border-style: none; */
}

/*SIDE SELECT ORDER COLORS*/
.sideselect-list-colors{
  height: 80px;
  cursor: pointer;
  text-align: center;
}

.sideselect-list-colors p{
  /* color: white; */
  font-size: 50px;
}

.sideselect-list-colors ul{
  list-style: none;
  margin-left: auto;
  padding-right: 30px;
  display: list-item;
}

.sideselect-list-colors ul li{
margin: 15px;
list-style: none;
display: flex;
justify-content: center;
}

.sideselect-list-colors ul li input{
/* border-radius: 4px; */
border-bottom: 1px solid #000;
border-top: 0;
border-left: 0;
border-right: 0;
font-weight: 600;
font-size: 40px;
padding: 4px 6px;
color: rgb(0, 0, 0);
background-color: rgba(240, 248, 255, 0);
/* border-style: none; */
}