.searchBar-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    padding: 1.5rem 10rem;
  }
  .searchBar-icon {
    color: rgb(200, 200, 200);
    margin-right: 2rem;
  }
  
  .searchBar-wrap input {
    height: 0%;
    width: 25%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    font-family: Akko Regular;
  }
  
  .searchBar-wrap input::placeholder {
    color: rgba(0, 0, 0, 0.26);
  }

  .searchBar-wrap h3{
    margin-left: 15%;
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-family: Akko Regular;
  }

  #logoMercado{
    margin-top: 1%;
    margin-left: 2%;
    width: 5%;
  }