.navbar{
    position: fixed;
    top: 0;
    background-color: #212121;
    width: 100%;
    height: 70px;
    padding-left: 50px;
    font-size: 20px;
    z-index: 1;
}

.navbar-logo{
    height: 80px;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    width: 100%;
}

.navbar-logo a{
    color: white;
    text-decoration: none;
}

#logoNav{
  width: 10%;
  height: 65%;
  opacity: 0.7;
}

.navbar-logo p{
    color: white;
    /* font-size: 50px; */
}

.navbar-logo ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
    margin-left: auto;
    padding-right: 70px;
}

.nav-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  /* color: #212121; */
  visibility: hidden;
  opacity: 0;
  color: white;
}

.navbar .navbar-logo .nav-close-btn{
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  /* color: #212121; */
  visibility: hidden;
  opacity: 0;
  color: white;
}

.scrolling {
    padding-top: 20px;
    background-color: #1212125a;
    transition: all 0.5s ease;
}

@media screen and (max-width: 960px){

  .navbar{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 102%;
    background-color: #212121;
    font-size: 20px;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .navbar-logo {
    height: 80px;
    line-height: 50px;
    cursor: pointer;
    display: inline;
    width: 50%;
}

  .navbar-logo ul {
    display: inline-grid;
    margin-top: 15%;
    list-style: none;
    grid-gap: 3rem;
    gap: 3rem;
    margin-left: auto;
    padding-right: 70px;
  }

  .responsive_nav {
    height: 60%;
    transform: none;
  }

  .navbar .navbar-logo .nav-btn{
    visibility: visible;
    opacity: 1;
    color: white;
  }

  .navbar .navbar-logo .nav-close-btn{
    position: absolute;
    margin-left: 35%;
    margin-top: 70%;
    visibility: visible;
    opacity: 1;
    color: white;
  }

  .nav-btn{
    position: absolute;
    z-index: 1;
    visibility: visible;
    opacity: 1;
  }

  #logoNav {
    /* display: none; */
    margin-top: 30%;
    width: 50%;
    height: 65%;
    opacity: 0.7;
}

}