.cardetail-container {
    display: flex;
    /* background-color: #252525; */
    background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
    color: black;
    height: 100vh;
    padding: 100px 0 0 0;
}

.cardetail-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 140%;
    height: 45%;
    margin-left: 150%;
    margin-top: 15%;
    border: 2px solid #fff;
    padding-left: 10%;
    padding-right: 10%;
    /* padding: 100px 0 100px 0; */
}

.cardetail-img {
    width: 150%;
    display: flex;
    align-self: center;
    overflow: hidden;
    margin-left: 35%;
    padding: 0 70px 0 75px;
    border-radius: 25px;
}

.cardetail-img img{
    /* height: 70vh; */
    margin-top: 6%;
    border-radius: 25px;
    width: 80%;
}

.cardetail-caracteristicas-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150%;
    height: 30%;
    margin-left: 15%;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    /* padding: 100px 0 100px 0; */
}

.cardetail-caracteristicas-desc > h1{
    font-size: 20px;
    color: rgb(200, 200, 200);
    font-family: 'Proxima Nova', sans-serif;
}

.cardetail-caracteristicas-title {
    display: flex;
    margin-top: 3%;
    gap: 20%;
    font-size: 20px;
    color: rgb(200, 200, 200);
    font-family: 'Proxima Nova', sans-serif;
}

#carDetailHr {
    display: block;
    height: 4px;
    border: 0;
    margin-top: 20px;
    padding: 0;
    background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
}

.cardetail-title > h1{
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(200, 200, 200);
    font-family: 'Proxima Nova', sans-serif;
}

.cardetail-title > h1 > h2{
    display: inline;
    font-size: 30px;
    text-transform: uppercase;
    color: rgb(200, 200, 200);
    font-family: 'Proxima Nova', sans-serif;
}

.cardetail-title > h1 > h2 > h3{
    display: flex;
    /* display: inline; */
    margin-bottom: 30px;
    /* margin-left: 15px; */
    font-size: 15px;
    color: rgb(200, 200, 200);
    font-family: 'Proxima Nova', sans-serif;
}

.cardetail-title > h2{
    display: inline;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(200, 200, 200);
    font-family: 'Proxima Nova', sans-serif;
}

.cardetail-title > p{
    font-size: 20px;
    color: rgb(200, 200, 200);
    font-family: 'Proxima Nova', sans-serif;
}

.cardetail-profesion > h2{
    font-size: 30px;
    color: rgb(200, 200, 200);
    font-family: 'Proxima Nova', sans-serif;
}

.cardetail-desc > p{
    line-height: 1.5;
    color: white;
    font-size: 25px;
}

#buttonBuyDetail{
    margin-left: 30%;
    margin-top: 20px;
    padding: 12px 15px;
    color: rgb(221, 221, 221);
    border: 2px solid #fff;
    letter-spacing: 1.2px;
    font-size: 10px;
    font-family: 'Proxima Nova', sans-serif;
    opacity: 0.8;
    text-decoration: none;
    width: 35%;
    background-color: #ffffff00;
  }

  /* CONSIGNACIONES */

  .cardetail-consignaciones-container {
    height: 40%;
    width: 140%;
    margin-top: 5%;
    margin-left: 150%;
    padding: 25px 16px;
    overflow-y: auto;
    border: 2px solid rgb(220, 220, 220);
  }

  .cardetail-title-first-consignaciones {
    /* background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%); */
    height: 15%;
    display: flex;
    place-content: center;
    align-items: center;
    letter-spacing: -0.01em;
    color: #e0e0e0;
  }

  .cardetail-title-first-consignaciones > h1{
    text-align: center;
    font-family: 'Proxima Nova', sans-serif;
    font-style: normal;
    font-size: 15px;
  }

  .cardetail-consignaciones-container > ul{
    list-style-type: none;
  }

  .cardetail-consignaciones-container > ul > li > p{
    font-family: 'Proxima Nova', sans-serif;
    font-size: 12px;
    padding-left: 13%;
    color: #e0e0e0;
  }

  .cardetail-consignaciones-container > ul > li > p > svg{
    color: rgb(35, 206, 35);
  }

  .title-footer-consignaciones{
    margin-top: 10%;
    color: #e0e0e0;
  }

  .title-footer-consignaciones > h3{
    font-family: 'Proxima Nova', sans-serif;
    text-align: center;
    font-size: 10px;
  }

  .cover-button-consignaciones{
     margin-top: 10%;
     text-align-last: center;
  }

  #consignacionesButtonDetail{
    background-image: linear-gradient( to bottom left, rgb(255 153 0) -75%, rgb(54 0 0) 45%);
    color: #e0e0e0;
    border: none;
    width: 40%;
    height: 2vh;
    border-radius: 12px;
    font-family: 'Proxima Nova', sans-serif;
    text-align: center;
    font-size: 13px;
  }

@media screen and (max-width: 1366px){

    .cardetail-container {
        display: flex;
        /* background-color: #252525; */
        background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
        color: black;
        height: 100vh;
        padding: 100px 0 0 0;
    }
    
    .cardetail-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 110%;
        height: 55%;
        margin-left: 75%;
        margin-top: 10%;
        border: 2px solid #fff;
        padding-left: 10%;
        padding-right: 10%;
        /* padding: 100px 0 100px 0; */
    }
    
    .cardetail-img {
        width: 115%;
        display: flex;
        align-self: center;
        overflow: hidden;
        margin-left: 15%;
        padding: 0 70px 0 75px;
        border-radius: 25px;
    }
    
    .cardetail-img img{
        /* height: 70vh; */
        margin-top: 6%;
        border-radius: 25px;
        width: 95%;
    }
    
    .cardetail-caracteristicas-desc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 35%;
        margin-left: 15%;
        margin-top: 2%;
        padding-left: 10%;
        padding-right: 10%;
        /* padding: 100px 0 100px 0; */
    }
    
    .cardetail-caracteristicas-desc > h1{
        font-size: 20px;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }
    
    .cardetail-caracteristicas-title {
        display: flex;
        margin-top: 3%;
        gap: 15%;
        font-size: 15px;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }

    .cardetail-caracteristicas-title > ul > li > p {
        font-size: 10px;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }
    
    #carDetailHr {
        display: block;
        height: 4px;
        border: 0;
        margin-top: 20px;
        padding: 0;
        background: linear-gradient(90deg, #751f2b 0, #dd522d 50%, #edd155 100%);
    }
    
    .cardetail-title > h1{
        font-size: 40px;
        text-transform: uppercase;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }
    
    .cardetail-title > h1 > h2{
        display: inline;
        font-size: 30px;
        text-transform: uppercase;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }
    
    .cardetail-title > h1 > h2 > h3{
        display: flex;
        /* display: inline; */
        margin-bottom: 30px;
        /* margin-left: 15px; */
        font-size: 15px;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }
    
    .cardetail-title > h2{
        display: inline;
        font-size: 30px;
        text-transform: uppercase;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }
    
    .cardetail-title > p{
        font-size: 15px;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }
    
    .cardetail-profesion > h2{
        font-size: 20px;
        color: rgb(200, 200, 200);
        font-family: 'Proxima Nova', sans-serif;
    }
    
    .cardetail-desc > p{
        line-height: 1.5;
        color: white;
        font-size: 25px;
    }
    
    #buttonBuyDetail{
        margin-left: 30%;
        margin-top: 20px;
        padding: 12px 15px;
        color: rgb(221, 221, 221);
        border: 2px solid #fff;
        letter-spacing: 1.2px;
        font-size: 10px;
        font-family: 'Proxima Nova', sans-serif;
        opacity: 0.8;
        text-decoration: none;
        width: 35%;
        background-color: #ffffff00;
      }
    
      /* CONSIGNACIONES */
    
      .cardetail-consignaciones-container {
        height: 45%;
        width: 110%;
        margin-top: 5%;
        margin-left: 75%;
        padding: 25px 16px;
        overflow-y: auto;
        border: 2px solid rgb(220, 220, 220);
      }
    
      .cardetail-title-first-consignaciones {
        /* background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%); */
        height: 10%;
        display: flex;
        place-content: center;
        align-items: center;
        letter-spacing: -0.01em;
        color: #e0e0e0;
      }
    
      .cardetail-title-first-consignaciones > h1{
        margin-left: 6%;
        text-align: center;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 15px;
      }
    
      .cardetail-consignaciones-container > ul{
        list-style-type: none;
      }
    
      .cardetail-consignaciones-container > ul > li > p{
        font-family: 'Proxima Nova', sans-serif;
        font-size: 10px;
        padding-top: 2%;
        padding-left: 17%;
        color: #e0e0e0;
      }
    
      .cardetail-consignaciones-container > ul > li > p > svg{
        color: rgb(35, 206, 35);
      }
    
      .title-footer-consignaciones{
        margin-top: 10%;
        color: #e0e0e0;
      }
    
      .title-footer-consignaciones > h3{
        font-family: 'Proxima Nova', sans-serif;
        text-align: center;
        font-size: 10px;
      }
    
      .cover-button-consignaciones{
         margin-top: 10%;
         text-align-last: center;
      }

}


@media only screen and (max-width: 960px) {
    .cardetail-container{
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .cardetail-desc{
        width: 90%;
        margin: 0 auto;
        padding: 40px 20px 50px 20px;
    }

    .cardetail-desc > h3 {
        font-size: 20px;
        text-align: center;
    }

    .cardetail-img{
        width: 100%;
        margin-bottom: 50px;
    }

    .cardetail-img > img {
        width: 100%;
    }
}