.buyCar {
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
    
  }
  .home_panelList-wrap,
  .home_panel-wrap,
  .home_list-wrap {
    overflow-y: auto;
  }
  
  .home_panelList-wrap {
    color: rgb(200, 200, 200);
    font-family: Akko Regular;
    flex: 1;
    display: flex;
  }
  .home_panel-wrap {
    margin-left: 5%;
    flex-basis: 280px;
    padding: 1rem;
    background: rgb(19, 19, 19);
    border-radius: 30px;
  }
  .home_list-wrap {
    flex: 1;
    padding: 3rem;
  }

  /*Pagination start*/

  .home_list-wrap .pagination-div{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    letter-spacing: 10px;
    font-family: 'Akko Regular';
  }

  .home_list-wrap .pagination-div ul li a{
    color: white;
    text-decoration: none;
  }

  /*Pagination end*/

  @media screen and (max-width: 1366px){
    .buyCar {
      padding-top: 60px;
      display: flex;
      flex-direction: column;
      height: 100vh;
      background-image: linear-gradient( to bottom left, rgb(255 255 255) -470%, rgb(14 14 14) 45%);
      
    }

    .listItem-wrap {
      display: flex;
      width: 90%;
      cursor: pointer;
      /* background: rgb(19, 19, 19); */
      background: linear-gradient(320deg, #751f2b4a 0, #dd522d00 50%, #edd1552e 100%);
      flex-direction: column;
      box-shadow: 1px 5px 0 rgb(229 229 229 / 15%), 0 2px 2px 0 rgb(175 175 175 / 15%), 0 3px 2px -2px rgb(196 196 196 / 15%);
      box-sizing: border-box;
      border-radius: 0.375rem;
      height: 95%;
  }

    .home_list-wrap {
      flex: 1 1;
      padding: 1rem;
  }

    .list-wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
  }
}

@media screen and (max-width: 960px){

  .home_panel-wrap {
    display: none;
  }

  .home_list-wrap {
    flex: 1 1;
    padding-left: 10%;
    padding-top: 5%;
}

  .list-wrap {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  .searchBar-wrap {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    padding: 1.5rem 1rem;
  }

  .searchBar-wrap input {
    height: 0%;
    width: 75%;
    font-size: 1.5rem;
    outline: none;
    border: none;
    font-family: Akko Regular;
  }

}